<div class="h-full m-5">

    <div class="flex justify-content-center">
        <div class="text-6xl my-4">Wettervorhersage</div>
    </div>

    <div *ngIf="weatherData">

        <div class="flex justify-content-center">
            <p-card styleClass="p-card-shadow" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <div class="p-2">
                        <div [className]="'flex justify-content-center text-8xl mt-3 owi owi-'+weatherData.current.weather[0].icon"></div>
                    </div>
                </ng-template>
                <div class="flex justify-content-center text-3xl">{{ weatherData.current.temp | number: '1.1-1': 'de'}} °C</div>
                <div class="flex justify-content-center text-2xl">{{ weatherData.current.weather[0].description }}</div>
                <ng-template pTemplate="footer">
                    <div class="flex justify-content-end">
                        {{ weatherData.current.dt * 1000 | date: 'dd.MM.yyy HH:mm' }}
                    </div>
                </ng-template>
            </p-card>
        </div>

        <!-- HOURLY FORECAST -->
        <div class="flex card mt-2 px-4 py-2" *ngIf="weatherData" style="overflow: auto;">
            <div *ngFor="let item of weatherData.hourly">
                <div class="mr-4 w-4rem">
                    <div class="mb-2 flex justify-content-center text-xl">{{item.dt * 1000 |  date:'HH:mm'}}</div>
                    <div [className]="'flex justify-content-center text-4xl owi owi-'+item.weather[0].icon"></div>
                    <div class="mt-2 flex justify-content-center">
                        <div class="text-xl mr-1">{{item.temp | number:'1.0-0'}} °C</div>
                    </div>
                </div>
            </div>                
        </div>

        <!-- DAILY FORECAST -->
        <div class="flex  justify-content-center card mt-2 px-4 py-2" *ngIf="weatherData" style="overflow: auto;">
            <div *ngFor="let item of weatherData.daily">
                <div class="mr-6 w-6rem">
                    <div class="mb-2 flex justify-content-center text-xl">{{item.dt * 1000 |  date:'EE'}}</div>
                    <div [className]="'flex justify-content-center text-4xl owi owi-'+item.weather[0].icon"></div>
                    <div class="mt-2 flex justify-content-center">
                        <div class="text-xl mr-1">{{item.temp.min| number:'1.0-0'}} - {{item.temp.max| number:'1.0-0'}} °C</div>
                    </div>
                </div>
            </div>                
        </div>
        
    </div>
</div>